
body {
    font-family: 'SF Mono', 'Open Sans','Helvetica Neue',Arial,sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.navmain, .content, .footer {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

*:focus {
    outline: none;
}

.content {
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
}

.navmain {
    float: top;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navstart {
    flex-wrap: nowrap;
    background-color: black;
    justify-content: flex-start;
}

.navend {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.logo {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
    color: white;
    text-decoration: None;
}

a.navbar-item:hover {
    color: white;
    background-color: black;
    transition: all 0s;
}

a {
    color: black;
}

.foota {
    color: inherit;
}

.foota:hover {
    color: black;
}

.fixfooter {
    flex: 1;
}

.footer {
    background-color: inherit;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (width: 1023px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .navmain, .content, .footer {
        margin: 0;
    }

    .message, .post {
        margin: 1.2rem;
    }
}

@media (prefers-color-scheme: dark) {
    .foota:hover {
        color: white;
    }
}
