@charset "utf-8";

.quote {
    margin-bottom: 30px;
    line-height: 1.2;
}

.quote-author {
    font-family: 'Helvetica Neue',Arial,sans-serif;
    color: var(--dim);
}

.project-name {
    background-color: var(--link-bg);
    font-family: monospace!important;
    text-decoration: underline;
}

nav {
    font-size: 1.05em;
}
