:root {
    --white: white;
    --black: black;
    --red: #ec4d3d;
    --orange: #f19938;
    --yellow: #f8cb45;
    --green: #64c265;
    --teal: #75c6f5;
    --blue: #2e7df6;
    --indigo: #555bce;
    --purple: #a25cd6;
    --pink: #eb445a;
    --gray: #8d8d92;
    --gray2: #aeaeb2;
    --gray3: #c6c6cb;
    --gray4: #d0d0d5;
    --gray5: #e4e4ea;
    --gray6: #f2f2f7;
}

:root {
    --color: var(--black);
    --bg-color: var(--white);
}

:root {
    --nav-bg: var(--bg-color);

    --button-bg: var(--color);
    --button: var(--bg-color);

    --highlight: var(--white);
    --highlight-bg: var(--gray2);

    --navlink: var(--bg-color);
    --navlink-bg: var(--black);

    --navlink-hover: var(--white);
    --navlink-hover-bg: var(--black);

    --link: var(--pink);
    --link-bg: var(--bg-color);

    --link-hover: var(--white);
    --link-hover-bg: var(--black);

    --logo: var(--white);
    --logo-bg: var(--black);

    --dim: var(--gray2);

    --code: var(--pink);
    --code-bg: var(--gray);

    --active: var(--white);
    --active-bg: var(--black);
}
